@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}
.spinner {
  width: 11.2px;
  height: 11.2px;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 rgba(71,75,255,0.2), 22.7px 16.5px 0 0 rgba(71,75,255,0.4), 8.68px 26.6px 0 0 rgba(71,75,255,0.6), -8.68px 26.6px 0 0 rgba(71,75,255,0.8), -22.7px 16.5px 0 0 #474bff;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
     transform: rotate(360deg);
  }
}

.bg-pattern {
  background: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff 0%, #64c0f2 100%);
  background: linear-gradient(0deg, #ffffff 0%, #64c0f2 100%);
}